---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceAfterCStyleCast: true
SortIncludes: true
---
...

